<section class="section summary-section">
  <h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>

  <div class="summary">
    <p>I am an experienced full stack web developer who is available for remote contracts &amp; employment.</p>

    <p>
      I am a self-motivated individual
      who takes pleasure in problem solving and finding creative solutions to technical challenges. I have over 10 years
      of experience in web development, primarily with PHP.
    </p>
  </div>
  <!--//summary-->
</section><!--//section-->