<section class="section experiences-section">
  <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Lead Developer</h3>

        <div class="time">2018 - Present</div>
      </div>
      <!--//upper-row-->
      <div class="company">GoPrep - New York City</div>
    </div>
    <!--//meta-->
    <div class="details">
      <p>GoPrep is an all-in-one tool created for the Weekly Meal Prep &amp; Delivery business model.</p>
    </div>
    <!--//details-->
  </div>
  <!--//item-->

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Lead Developer</h3>

        <div class="time">2018 - Present</div>
      </div>
      <!--//upper-row-->
      <div class="company">GrandShipper - New York City</div>
    </div>
    <!--//meta-->
    <div class="details">
      <p>GrandShipper is a recent start-up offering an intuitive, all-in-one shipping platform for USPS.</p>
    </div>
    <!--//details-->
  </div>
  <!--//item-->

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Senior Web Developer</h3>

        <div class="time">2015 - 2018</div>
      </div>
      <!--//upper-row-->
      <div class="company">Blue Fountain Media - New York City</div>
    </div>
    <!--//meta-->
    <div class="details">
      <p>Blue Fountain Media has been consistently rated as one of the top digital agencies worldwide, receiving a top
        10 honor from both <a href="https://www.awwwards.com/bluefountainmedia/" target="_blank">AWWWARDS</a> and the <a
            href="https://interactivemediaawards.com/winners/gallery.asp?id=51615" target="_blank">Interactive Media
          Awards</a>.</p>

      <p>My responsibilities at BFM include full-stack web development and project management.</p>
    </div>
    <!--//details-->
  </div>
  <!--//item-->


  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Lead Web Developer</h3>

        <div class="time">2014</div>
      </div>
      <!--//upper-row-->
      <div class="company">CQ2 - Manchester, United Kingdom</div>
    </div>
    <!--//meta-->
    <div class="details">
      <p>
        I was brought in as the lead web developer to meet the increased demand faced by the
        company. There were several major projects which required immediate attention to meet urgent deadlines. This
        involved managing a front-end developer and a junior backend developer, along with liaising with clients'
        technical staff. These new projects were all built with a Laravel-based CMS which I heavily customised to meet
        the projects’ requirements.
      </p>

      <p>
        In addition to developing new web applications, I was also responsible for maintaining and updating a wide array
        of live websites.
      </p>

      <p>
        While working with CQ2 I felt that there were many standards and protocols which were worth putting in place to
        increase the efficiency of the development lifecycle. I put in place a project management system, version
        control systems, and performed numerous upgrades to the infrastructure.
      </p>
    </div>
    <!--//details-->
  </div>
  <!--//item-->

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Systems Manager</h3>

        <div class="time">2010 - 2012</div>
      </div>
      <!--//upper-row-->
      <div class="company">Textlocal - Malvern, United Kingdom</div>
    </div>
    <!--//meta-->
    <div class="details">


      <ul>
        <li>Develop and maintain a mission critical control panel and API for customers to plan and release their mobile
          marketing campaigns. Whilst at Textlocal the service was actively used by over 50,000 UK businesses.
        </li>
        <li>Managing a small team of developers in larger group projects.</li>
        <li>Linux, Apache, MySQL and PHP server administration.</li>
        <li>Technical account management for high-value clients, including Papa John's and GreenPeace.</li>
      </ul>
      <p>At Textlocal I developed and deployed the new version of their API which primarily enabled users to send SMS
        and MMS messages remotely from their applications.</p>

      <p> In addition, I developed the MMS functionality in the control panel. This tool allowed users to send
        customised media messages to their opt-in clients, with detailed analytics available for past campaigns. This
        particular feature had to be developed with efficiency in mind, as it was typical for customers to send tens of
        thousands of messages at once.
      </p>

      <p> My last major project at Textlocal was to develop the first version of their Android application using
        Google's native SDK.
      </p>

    </div>
    <!--//details-->
  </div>
  <!--//item-->


</section><!--//section-->