<section class="section projects-section">
  <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>

  <div class="intro">
    <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur
      adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
  </div>
  <!--//intro-->

  <div class="item">
    <span class="project-title"><a href="https://rachelchoflowers.com/" target="_blank">Rachel Cho Flowers</a></span> -
    <span class="project-tagline">eCommerce website enabling users to customize and purchase flower bouquets.</span>
  </div>
  <!--//item-->
  <div class="item">
    <span class="project-title"><a href="http://www.betweenthebread.com/" target="_blank">Between the Bread</a></span> - <span class="project-tagline">Promotional website for Between the Bread, a reputable catering company based in Manhatten.</span>
  </div>
  <!--//item-->
  <div class="item">
    <span class="project-title"><a href="http://corporate.seamless.com/" target="_blank">Seamless Corporate Accounts</a></span> - <span class="project-tagline">Informational website for corporate customers of Seamless.</span>
  </div>
  <!--//item-->
  <div class="item">
    <span class="project-title"><a href="https://gigfloor.com" target="_blank">GigFloor</a></span> - <span class="project-tagline">Job board for professionals in the oil industry.</span>
  </div>
  <!--//item-->
</section><!--//section-->